<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665576982620-u347g0djrglfar4le0f7rp3cqkplcumu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665576982620-u347g0djrglfar4le0f7rp3cqkplcumu</string>
	<key>API_KEY</key>
	<string>AIzaSyB1bQFqn6DgIe5JmxEFTPj0yTR5u0cwVkk</string>
	<key>GCM_SENDER_ID</key>
	<string>665576982620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.webshopMobile</string>
	<key>PROJECT_ID</key>
	<string>webshop-app-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>webshop-app-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665576982620:ios:ac681697cb1f9f485a7e99</string>
</dict>
</plist>